@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* overflow: hidden; */
}

:root {
    --bgc: #f5f4f0;
    --green: #173a34;
    --light-green: #f0fdfc;
    --decoration: #f8d4ba;
    --hover-color: #fc9d6a;
}

body {
    min-height: 100vh;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    display: flex;
    justify-content: center;
    background-color: var(--bgc);
}

main {
    min-height: 100vh;
    width: 1440px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    width: 100%;
    display: grid;
    align-items: center;
    justify-items: center;
    grid-template-columns: repeat(3, 1fr);
    border-bottom: 2px solid var(--green);
}

.logo {
    display: flex;
    align-items: center;
}

.logo h1 {
    font-size: 18px;
    font-weight: 600;
    color: var(--green);
    letter-spacing: -1px;
}

.logo svg {
    width: 40px;
    height: 40px;
}

nav ul {
    display: flex;
    align-items: center;
    gap: 1rem;
    list-style: none;
}

ul li a {
    text-decoration: none;
    color: var(--green);
    font-size: 18px;
}

ul li a:hover {
    transition: all 0.1s ease-in;
    border-bottom: 2px solid var(--hover-color);
}

.btn {
    width: fit-content;
    background-color: var(--green);
    color: var(--light-green);
    padding: 1rem;
    border-radius: 10px;
    cursor: pointer;
}

.context {
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 3rem 0;
    color: var(--green);
}

.context h2 {
    font-size: 2.75rem;
}

.healthy-decoration {
    position: relative;
}

.context .healthy-decoration::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 50%;
    bottom: 0%;
    background-color: var(--decoration);
    z-index: -1;
    padding: 0 5px;
    border-radius: 5px;
}

.start-exploring-btn {
    padding: 1rem 1.5rem;
    margin-top: 3rem;
    margin-bottom: 1.5rem;
}

.girl-image {
    width: 100%;
}

.girl-image img {
    width: 90%;
    border: 15px solid #fff;
    border-radius: 15px;
    background-size: cover;
}

.you-get {
    width: 100%;
    margin: 3rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 2px solid rgba(121, 121, 121, 0.5);
}

.you-get .title {
    color: var(--green);
    font-size: 2rem;
}

.features {
    width: 90%;
    padding: 3rem 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1.5rem;
}

.feature {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.feature svg {
    width: 30px;
    height: 30px;
    box-sizing: content-box;
    padding: 10px;
    background-color: var(--light-green);
    border: 2px solid var(--green);
    border-radius: 10px;
}

.feature h3 {
    font-size: 22px;
    color: var(--green);
    margin: 1rem 0;
}

.real-life {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 3rem 0;
    padding: 3rem 0;
    color: var(--green);
    border-bottom: 2px solid rgba(121, 121, 121, 0.5);
}

.real-life .note {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 15px;
}

.note h2 {
    font-size: 2.75rem;
}

.note p {
    font-size: 18px;
}

.note .f-paragraph .min-decoration {
    position: relative;
}


.note .f-paragraph .min-decoration::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 50%;
    bottom: 0%;
    background-color: var(--decoration);
    z-index: -1;
    border-radius: 5px;
}

.image img {
    border-radius: 10px;
}

.ready {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    color: var(--green);
    padding: 3rem 0;
    margin-bottom: 3rem;
    background: url(bgc.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 15px;
}

.ready h2 {
    font-size: 2.75rem;
}

.ready p {
    font-size: 18px;
}